@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.text-gray{
    color: #424242;
}
.text-light-gray{
    color: #727272;
}
.text-primary{
    color: #ff900e;
}

.btn-primary{
    background-color: #ff900e;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
.bg-light{
    color: rgba(255, 144, 14, 0.1);
    background-color:wheat;
}
.display-flex{
    display: flex;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    color: black;
}
.navbar, .banner{
    max-width: 1440px;
    margin-top: 0 auto;
}
.nav-item{
    list-style: none;
    margin-right: 30px;

}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.banner-par{
    color: #424242;
}
.banner-content{
    max-width: 850px;
    margin:0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
   font-size:4rem;
   font-weight: 700;
   color: black;
}
.banner-image{
    width: 100%;
}
@media screen and (max-width:576px) {
    .navbar, .nav-link .teams {
        flex-direction: column;
    }
    .team-img-container, .facts-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 20px;
    }
    
}
@media screen and (min-width:576px)and(max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .facts-container{
        justify-content: center;
        gap: 24px;
    }
    .our-features{
        margin: 50px auto;
    }
}
main > section{
    margin-top: 130px;
}
.main{
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}
.team-img-container{
    display: grid;
    grid-template-columns:repeat(2,1fr) ;
    gap: 24px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}
.feature-title{
    font-size:2.8rem ;
}
#Quick-list{
    font-weight:500;
}
.fact-card{
    border: 1px solid #ff900e;
    width: 240px;
    height:240px;
    border-radius: 9px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size:1.25rem ;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description{
    max-width: 540px;
}
